body {
  background-color: #171219; 
}
i {
  text-shadow: 1px 1px 30px #9af8ff;
}
.wartext {
  color: #9af8ff;
  text-shadow: 1px 1px 30px #9af8ff;
  font-family: "Wargames Regular";
}
* {box-sizing: border-box;}
.wrapper {
  max-width: 300px;
  margin: 15px auto;
}
.wrapper > div {
  border: 2px solid #3d6a91;
  border-radius: 5px;
  background-color: #1d2446;
  color: #9af8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
}.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  grid-auto-rows: 100px 100px 100px;
}
/* local fonts */
@font-face {
  font-family: "Wargames Regular";
  src: url("Wargames.ttf") format('truetype'); 
}
